:root {
	--key-height: 1.9rem;
	--bottom-line-height: calc(var(--key-height) + 0.5rem);
}

div.keyboard {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(66, 66, 66);
	display: grid;
	grid-template-columns: repeat(20, minmax(0.1rem, 1fr));
	grid-template-rows: repeat(4, minmax(1.8rem, 1fr));
	grid-gap: 0.2rem;
	border-radius: 0.3rem;
}

.key {
	font-weight: 200;
	display: grid;
	place-content: center;
	color: #333;
	background-color: rgb(233, 233, 233);
	border: 1px solid #999;
	border-radius: 0.2rem;
	grid-column: span 2;
	height: var(--key-height);
}

.half {
	grid-column: 1 / 1;
}

.key:hover {
	background-color: aliceblue;
	border: 1px solid #333;
}

.tab {
	grid-column: span 3;
}

.leftshift {
	grid-column: span 2;
}

.command {
	grid-column: span 5;
	font-size: 14px;
}

.place {
	grid-column: span 1;
}

.return {
	grid-column: span 4;
	background-color: #0066aa;
	color: white;
	border: 0px;
	height: var(--bottom-line-height);
}

.option {
	grid-column: span 4;
	height: var(--bottom-line-height);
}

.space {
	grid-column: span 12;
	height: var(--bottom-line-height);
}
